<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfile" xsi:type="File" fileName="console.log" />
		<target name="console" xsi:type="ColoredConsole" layout="${date:format=yyyyMMddHHmmss} ${message} ${exception}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>