<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="Vindinium" type="Vindinium.Configuration.ConfigurationSection, Vindinium" />
    </configSections>
    <Vindinium key="qtkplamj" mode="Training"
        turns="10" map="M1" serverUrl="http://vindinium.org" bot="Vindinium.Bot.RandomBot, Vindinium"/>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
        <layout type="log4net.Layout.PatternLayout">
            <param name="Header" value="[Header]\r\n" />
            <param name="Footer" value="[Footer]\r\n" />
            <param name="ConversionPattern" value="%-6timestamp [%15.15thread] %-5level %30.30logger %ndc - %message%newline" />
        </layout>
        </appender>
        <root>
        <level value="DEBUG" />
        <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
</configuration>
